<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <!-- Title -->
    <div class="recipe-title">
        <div class="container">
        <h1 id="recipe-title">Generate a Recipe</h1>
        </div>
    </div>
    
    <!-- Tabs -->
    <div class="simpletab">
        <ul class="simpletabs cf">
        <li>Plan</li>
        <li>Shop</li>
        <li>Cook</li>
        </ul>
        <div class="simpletab-wrapper">
    
        <!-- Tab 1 -->
        <div class="panel panel-one">

            <form id="form">
                <label for="serving_size">Serving Size:</label><br>
                <input type="text" id="serving_size" name="serving_size"><br>
                <label for="diet_details">Diet Details:</label><br>
                <input type="text" id="diet_details" name="diet_details"><br>
                <label for="budget">Budget:</label><br>
                <input type="text" id="budget" name="budget"><br>
                <input type="submit" value="Submit">
            </form>

            <!-- TEST
    
            <div class="generate cf">
            <div class="container">
                <h2>Generate</h2>
                <p>testing generate here</p>
            </div>
            </div>
    
    
            <div class="container">  
    
            <div class="ingredients">
                <h2>Ingredients</h2>
                <pre><span id="ingredients-list"></span></pre>
            </div>
    
            <div class="instructions">
                <h2>Instructions</h2>
                <pre><span id="method-list"></span></pre>
            </div>
            </div>
            -->
        </div>
        <!-- End Tab 1 -->
        
        <!-- Tab 2 -->
        <div class="panel panel-two">
            <!-- Shopping List -->
            <div class="container">
            <ul class="shopping-list">
                <li>Item 1</li>
            </ul>
            </div> 
        </div>
        <!-- End Tab 2 -->
        
        <!-- Tab 3 -->
        <div class="panel panel-three">
            <!-- Recipe -->
            <div class="container">
            
            </div> 
            <!-- Leftover Suggestions -->
            <div class="container">
                
            </div>
        </div>
        <!-- End Tab 3 -->
    
    
        </div>
    
    </div>
    <!-- End of Tabs -->

    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>