<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div id="accordian">
            <ul class="show-dropdown main-navbar">
                <div class="selector-active"><div class="top"></div><div class="bottom"></div></div>
                <li class ="active">
                    <a href="{{ url_for('plan') }}"><i class="fas fa-tachometer-alt"></i>Plan</a>
                </li>
                <li>
                    <a href="{{ url_for('shop') }}"><i class="far fa-address-book"></i>Shop</a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="far fa-clone"></i>Cook</a>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Suggestions</a>
                </li>
            </ul>
        </div>

        <div id="page-content">
            <article>
                <header>
                  <h2>Plan a Recipe</h2>
                  <hr>
                </header>

                <form>
    
                    <div class="group">      
                      <input type="text" required id="serving_size" name="serving_size">
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Serving Size</label>
                    </div>
                      
                    <div class="group">      
                      <input type="text" required id="diet_details" name="diet_details">
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Diet Details</label>
                    </div>
                    
                    <div class="group">      
                        <input type="text" required id="budget" name="budget">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Budget</label>
                    </div>

                    <button type="submit" class="button-57" role="button">
                        <span class="text">Create Plan</span>
                        <span>Let's Go!</span>
                    </button>

                  </form>
              </article>
              
              <article>
                <header>
                  <h2>Shopping List</h2>
                  <hr>
                </header>
                <article-content>
                    <h3><span id='dish'></span></h3>
                    <pre><span id='servings'></span></pre>
                    <pre><span id='shopping_list'></span></pre>
                    <pre><span id='cost'></span></pre>
                </article-content>
              </article>
              
              <article>
                <header>
                  <h2>Recipe</h2>
                  <hr>
                </header>
                    <pre><span id='recipe'></span></pre>
                    <pre><span id='suggestions'></span></pre>
              </article>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
</html>