<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div id="accordian">
            <ul class="show-dropdown main-navbar">
                <div class="selector-active"><div class="top"></div><div class="bottom"></div></div>
                <li>
                    <a href="{{ url_for('plan') }}"><i class="fas fa-tachometer-alt"></i>Plan</a>
                </li>
                <li>
                    <a href="{{ url_for('shop') }}"><i class="far fa-address-book"></i>Shop</a>
                </li>
                <li>
                    <a href="{{ url_for('cook') }}"><i class="far fa-clone"></i>Cook</a>
                </li>
                <li class="active">
                    <a href="{{ url_for('suggestions') }}"><i class="far fa-calendar-alt"></i>Suggestions</a>
                </li>
            </ul>
        </div>

        <div id="page-content">
            <h1>Suggestions</h1>
            <hr>
            <pre><span id='suggestions'>Plan a recipe to see suggestions</span></pre>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
</html>